@charset "utf-8";
@import "header.scss";
@import "footer.scss";
@import "public.scss";
.main_top:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.main_top{
    width: 1100px;
    margin: 0 auto;
    margin-top: 15px;
    .main_top_left {
        width: 475px;
        height: 475px;
        float: left;
        position: relative;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 5px 2px #ddd;
        .goodpic {
            width: 475px;
            height: 475px;
            position: relative;
            cursor: move;
            img{
                width: 475px;
                height: 475px;
                position: absolute;
                left: 0;
                top: 0;
            }
            #mask{
                z-index: 7;
                width: 282.03px;
                height: 282.03px;
                position: absolute;
                left: 0;
                top: 0;
                background:url(../img/goods/goodimg1m.png);
                display: none;
                border: 2px solid #333333;
            }
            #layer{
                position: absolute;
                top: 0;
                left: 0;
                width: 475px;
                height: 475px;
                background: gray;
                opacity: .4;
                display: none;
                z-index: 6;
            }
        }
        .picsmall{
            position: absolute;
            top: 485px;
            width: 475px;
            left: 0;
            li{
                float: left;
                width: 85px;
                height: 85px;
                border: 1px solid #ccc;
                margin-right: 8px;
            }
            img{
                width: 85px;
                height: 85px;
            }
        }
        .picbig{
            width: 475px;
            height: 475px;
            overflow: hidden;
            display: none;
            background: red;
            border: 1px solid #ccc;
            position: absolute;
            top: 0;
            left: 485px;
            box-shadow: 0px 0px 5px 3px #333;
            img{
                position: absolute;
                left: 0;
                left: 0;
            }
        }
    }
    .main_top_right{
        float: left;
        padding-left: 60px;
        li{
            width: 563px;
            border-bottom: 1px dashed #bfbfbf;
            dl{
                height: 70px;
                width: 100%;
                dt{
                    width: 80px;
                    height: 70px;
                    float: left;
                    line-height: 35px;
                    padding-left: 10px;
                    font-weight: bold;
                }
            }
        }
        .goods_tit{
            p{
                font-size: 18px;
                line-height: 30px;
                color: rgb(153,153,153);
                &:hover a{
                    color: #b28247;
                }
                
            }
            .rgb0 a{
                color: #000000;
            }
            .last{
                font-size: 12px;
            }
            
        }
        .goods_price{
            padding-top: 10px;
            .price{
                font-size: 28px;
                height: 34px;
                color: #c8a985;
            }
            .del_price{
                font-size: 16px;
                color: #999;
                line-height: 37px;
            }
            .vip_price{
                display: inline-block;
                width: 80px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                background: #c8a985;
                color: #fff;
                border-radius: 10px;
            }
            .download{
                float: right;
                width: 180px;
                height: 30px;
                line-height: 24px;
                margin-top: 6px;
                cursor: pointer;
                display: inline-block;
                padding-left: 30px;
                background: url(../img/goods/downloadicon.jpg) no-repeat;
                span{
                    width: 0;
                    height: 0;
                    border: 5px solid #cbcbcb;
                    border-color: #cbcbcb transparent;
                    border-bottom: none;
                    position: relative;
                    top: 10px;
                    margin-right: 5px;
                }
            }
            .fq_price{
                height: 40px;
                line-height: 30px;
                span{
                    padding-left: 60px;
                    b{
                        font-size: 16px;
                        font-weight: bold;
                        color: #c8a985;
                    }
                }
            }
        }
        .goods_hd{
            dl{
                dd{
                    height: 35px;
                    line-height: 35px;
                    color: #c8a985;
                }
            }
        }
         .goods_color{
             height: 165px;
             padding-top: 10px;
             dl{
                 height: 55px;
                dt{
                    height: 55px;
                }
                dd{
                    float: left;
                    height: 30px;
                    span{
                        float: left;
                        display: block;
                        height: 30px;
                        width: 32px;
                        text-align: center;
                        line-height: 32px;
                        color: #000000;
                        margin-right: 10px;
                        border:2px solid #333;
                    }
                    .active{
                        border: 2px solid #dc0000;
                    }
                    .jian{
                        border: 0;
                        background: #c8a985;
                        color: #fff;
                        font-size: 22px;
                        line-height: 29px;
                    }
                    .jia{
                        border: 0;
                        background: #c8a985;
                        color: #fff;
                        font-size: 22px;
                        line-height: 29px;
                    }
                }
            }
        }
        .goods_zs{
            margin-bottom: 10px;
            dl{
                height: 24px;
                color: #999;
                dt{
                    height: 24px;
                    line-height: 24px;
                }
                dd{
                    height: 24px;
                    line-height: 24px;
                    a{
                        color: #c8a985;
                        text-decoration: underline;
                    }
                }
            }
        }
        .goods_btn{
            padding-top: 10px;
            height: 43px;
            border-bottom: 0;
            margin-bottom: 10px;
            span{
                display: block;
                float: left;
                font-size: 14px;
                height: 33px;
                line-height: 33px;
                padding:0 30px;
                border: 1px solid #c8a985;
                margin-right: 10px;
                color: #c8a985;
                cursor: pointer;
            }
            .shopping_add{
                color: #fff;
                background: #c8a985; 
                span{
                    display: block;
                    padding: 0;
                    width: 25px;
                    height: 32px;
                    background: url(../img/share.png) no-repeat -270px -335px;
                }
            }
            .shopping_sc{
                background: #c8a985 url(../img/share.png) no-repeat -3px -54px;
            }
        }
    }
}
.main_bottom:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.main_bottom{
    width: 1100px;
    margin: 0 auto;
    .goods_tab{ 
        width: 1100px;
        margin: 10px 0;  
        height: 50px;
        z-index: 100;
        background: #fff;
        border-bottom: 1px solid #000;
        .phb_tab_tit{
            margin-top: 10px;
            width: 198px;
            float: left;
            height: 28px;
            margin-right: 25px;
            border: 1px solid #666;
            text-align: center;
            line-height: 28px;
            color: #000;
        }
        .goods_tab_tit{
            margin-top: 10px;
            float: left;
            width: 875px;
            display: flex;
            justify-content: space-between;
            li{
                float: left;
                height: 28px;
                width: 283px;
                border: 1px solid #666;
                text-align: center;
                line-height: 28px;
                color: #000;
                &:nth-child(1){
                    background: #000;
                    color: #fff;
                }
                
            }
        }
    }
    .main_bottom_left{
        width: 200px;
        min-height: 300px;
        float: left;
        margin-right: 25px;
        dl{
            
            dt{
                width: 198px;
                text-align: center;
                line-height: 33px;
                color: #fff;
                border: 1px solid #c9c9c9;
                background: #bfa69a;
            }
            dd{
                padding: 30px;
                margin-bottom: 10px;
                border: 1px solid #666;
                position: relative;
                background: url(../img/goods/bg.png) no-repeat 10px 10px;
                img{
                    width: 136px;
                }
                p{
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
    .main_bottom_right:after{
        content: ".";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    .main_bottom_right{
        min-height: 1500px;
        width: 873px;
        float: left;
        border: 1px solid #000000;
        .goods_tab_con{
            width: 873px;
            position: relative;
            div{
                width: 873px;
                position: relative;
                top: 0;
                left: 0;
                background: #fff;
            }
            .goods_spxq{
                img{
                    float: left;
                    margin-bottom: 13px;
                    &:nth-child(2){
                        margin-right: 13px;
                    }
                }
                .img_650{
                    width: 650px;
                    height: 650px;
                    margin-left: 87px;
                }
                .mr_37{
                    margin-left: 37px;
                }
            }
            .goods_cccz{
                display: none;
            }
            .goods_sppj{
                display: none;
            }
        }
    }
}
