@charset "utf-8";
.topwrap{
    background: #F2F2F2;
    .top_1210{
        height: 30px;
        .top_left{
            li{
                display: block;
                float: left;
                height: 30px;
                line-height: 30px;
                padding: 0 15px;
                background: url(../img/top_bg.png) no-repeat center right;
            }
            .top_left_first{
                padding-left: 0;
            }
            .top_left_last{
                background: none;
            }
        } 
        .top_right{
            float: right;
            li{
                float: left;
                line-height: 30px;
                padding: 0 15px;
                background: url(../img/top_bg.png) no-repeat center right;
                &:nth-child(1){
                    height: 30px;
                }
                &:hover a{
                    color: #b28247;
                }
                .login{
                    display: inline-block;
                    width: 35px;
                    height: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;  
                    color: red;              
                }
            }
            .iconmine{
                width: 0;
                height: 0;
                border: 6px solid #706c6e;
                border-color: #706C6E transparent;
                border-bottom: none;
                position: relative;
                top: 13px;
                margin-left: 5px;
            }
            .top_right_last{
                background: none;
            }
        } 
    }
}
.head{
    height: 110px;
    position: relative;
    .logo{
        float: left;
        margin-right: 45px;
        a{
            display: block;
        }
    }
    .yijian{
        float: left;
        position: absolute;
        left: 290px;
        top: 14px;
        a{
            display: block;
        }
    }
    .find{
        float: left;
        height: 38px;
        width: 347px;
        background: #C69C6D;
        position: absolute;
        left: 468px;
        top: 36px;
        padding: 2px;
        .find_input{
            height: 34px;
            width: 265px;
            display: block;
            float: left;
            text-indent: 1em;
            outline: none;
        }
        .find_sub{
            display: block;
            float: left;
            height: 38px;
            width: 78px;
            background: #C69C6D;
            border: 0;
            color: #fff;
            font-size: 16px;
        }
    }
    .oversea{
        width: 200px;
        height: 30px;
        background: url(../img/overseadef.jpg) no-repeat;
        position: absolute;
        top: 40px;
        right: 123px;
    }
    .shopcart{
        position: absolute;
        right: 10px;
        top: 38px;
        .carbox{
            width: 94px;
            height: 32px;
            text-indent: 45px;
            line-height: 32px;
            color: #666;
            position: relative;
            float: right;
            border: 1px solid #ccc;
            background: url(../img/share.png) no-repeat -376px -405px;
            img{
                position: absolute;
                left: 10px;
                top: 2px;
            }
            span{
                display: block;
                position: absolute;
            }
        }
    }
}
.rightmenuwrap{
    height: 100%;
    width: 5px;
    position: fixed;
    right: 0;
    background: #333;
    top: 0;
    z-index: 100;
    ul{
        position: absolute;
        top: 50%;
        margin-left: -33px;
        margin-top: -100px;
        li{
            width: 34px;
            height: 35px;
            border-radius: 5px;
            position: relative;
            margin-bottom: 1px;
            background:  #333 url(../img/toolbars.png) no-repeat;
            span{
                padding: 0 5px;
                text-align: center;
                background: #CF0101;
                height: 35px;
                width: 50px;
                color: #fff;
                line-height: 35px;
                position: absolute;
                top: 0;
                right: 35px;
                display: none;
                border-radius: 5px;
                opacity: .8;
            }
            &:hover{
                background-color: #CF0101;
                span{
                    display: block;
                }
            }
            &:nth-child(1){
                background-position: -88px -175px;
            }
            &:nth-child(2){
                background-position: -50px -0px;
            }
            &:nth-child(3){
                background-position: -50px -50px;
            }
            &:nth-child(4){
                background-position: -50px -100px;
            }
            &:nth-child(5){
                background-position: -190px -150px;
            }
            &:nth-child(6){
                background-position: -50px -150px;
            }
            &:nth-child(7){
                background-position: -50px -250px;
            }
        }
        
    }
}
.navwrap{
    background: url(../img/navbg.png) repeat-x;
    .nav{
        height: 40px;
        li{
            width: 82px;
            height: 38px;
            display: block;
            float: left;
            a{
                display: block;
                height: 38px;
                line-height: 36px;
                font-size: 14px;
                color: #c8a985;
                text-align: center;
            }
             &:nth-last-child(1){
                background: url(../img/share02.png) no-repeat -354px -66px;
            }
            &:nth-last-child(2){
                background: url(../img/share02.png) no-repeat -296px -66px;
            }
            &:nth-last-child(3){
                background: url(../img/share02.png) no-repeat -296px -66px;
            }
        }
        .nav_oversea{
            width: 100px;
            background: url(../img/overseaslogo.gif) no-repeat;
        }
        .nav_icon{
            width: 40px;
        }
        .nav_first{
            a{
                color: #fff;
            }
            width: 130px;
            background: url(../img/lux_index.png) no-repeat -8px -215px;
            .nav_menu{
                width: 130px;
                height: 433px;
                position: relative;
                z-index: 100;
                display: none;
                border: 1px solid #333;
                ul{
                    li{
                        width: 130px;
                        height: 36px;
                        .nav_menu_list{
                            width: 82px;
                            height: 36px;
                            line-height: 36px;
                            margin: 0 auto;
                            padding-left: 48px;
                            text-align: left;
                            position: relative;
                            opacity: 0.85;
                            background: #fff;
                            a{
                                color: #C69C6D;
                                text-align: left;
                                i{
                                    position: absolute;
                                    right: 2px;
                                    top: 0;
                                    height: 36px;
                                    width: 20px;
                                    background: url(../img/share02.png) no-repeat -304px -30px;
                                    display: none;
                                }
                            }
                        }
                        .nav_menu_show{
                            display: none;
                            width: 590px;
                            background: #fff;
                            position: absolute;
                            top: 0;
                            left: 131px;
                            z-index: 1000;
                            dl{
                                height: 50px;
                                margin: 10px 20px 10px 20px;
                                border-bottom: #D7D7D7 1px solid;
                                dt{
                                    float: left;
                                    color: #CF0201;
                                    width: 105px;
                                    font-size: 14px;
                                    font-style: normal;
                                    padding-left: 25px;
                                }
                                dd{
                                    float: left;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
