@charset "UTF-8";
.topwrap {
  background: #F2F2F2; }
  .topwrap .top_1210 {
    height: 30px; }
    .topwrap .top_1210 .top_left li {
      display: block;
      float: left;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      background: url(../img/top_bg.png) no-repeat center right; }
    .topwrap .top_1210 .top_left .top_left_first {
      padding-left: 0; }
    .topwrap .top_1210 .top_left .top_left_last {
      background: none; }
    .topwrap .top_1210 .top_right {
      float: right; }
      .topwrap .top_1210 .top_right li {
        float: left;
        line-height: 30px;
        padding: 0 15px;
        background: url(../img/top_bg.png) no-repeat center right; }
        .topwrap .top_1210 .top_right li:nth-child(1) {
          height: 30px; }
        .topwrap .top_1210 .top_right li:hover a {
          color: #b28247; }
        .topwrap .top_1210 .top_right li .login {
          display: inline-block;
          width: 35px;
          height: 30px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: red; }
      .topwrap .top_1210 .top_right .iconmine {
        width: 0;
        height: 0;
        border: 6px solid #706c6e;
        border-color: #706C6E transparent;
        border-bottom: none;
        position: relative;
        top: 13px;
        margin-left: 5px; }
      .topwrap .top_1210 .top_right .top_right_last {
        background: none; }

.head {
  height: 110px;
  position: relative; }
  .head .logo {
    float: left;
    margin-right: 45px; }
    .head .logo a {
      display: block; }
  .head .yijian {
    float: left;
    position: absolute;
    left: 290px;
    top: 14px; }
    .head .yijian a {
      display: block; }
  .head .find {
    float: left;
    height: 38px;
    width: 347px;
    background: #C69C6D;
    position: absolute;
    left: 468px;
    top: 36px;
    padding: 2px; }
    .head .find .find_input {
      height: 34px;
      width: 265px;
      display: block;
      float: left;
      text-indent: 1em;
      outline: none; }
    .head .find .find_sub {
      display: block;
      float: left;
      height: 38px;
      width: 78px;
      background: #C69C6D;
      border: 0;
      color: #fff;
      font-size: 16px; }
  .head .oversea {
    width: 200px;
    height: 30px;
    background: url(../img/overseadef.jpg) no-repeat;
    position: absolute;
    top: 40px;
    right: 123px; }
  .head .shopcart {
    position: absolute;
    right: 10px;
    top: 38px; }
    .head .shopcart .carbox {
      width: 94px;
      height: 32px;
      text-indent: 45px;
      line-height: 32px;
      color: #666;
      position: relative;
      float: right;
      border: 1px solid #ccc;
      background: url(../img/share.png) no-repeat -376px -405px; }
      .head .shopcart .carbox img {
        position: absolute;
        left: 10px;
        top: 2px; }
      .head .shopcart .carbox span {
        display: block;
        position: absolute; }

.rightmenuwrap {
  height: 100%;
  width: 5px;
  position: fixed;
  right: 0;
  background: #333;
  top: 0;
  z-index: 100; }
  .rightmenuwrap ul {
    position: absolute;
    top: 50%;
    margin-left: -33px;
    margin-top: -100px; }
    .rightmenuwrap ul li {
      width: 34px;
      height: 35px;
      border-radius: 5px;
      position: relative;
      margin-bottom: 1px;
      background: #333 url(../img/toolbars.png) no-repeat; }
      .rightmenuwrap ul li span {
        padding: 0 5px;
        text-align: center;
        background: #CF0101;
        height: 35px;
        width: 50px;
        color: #fff;
        line-height: 35px;
        position: absolute;
        top: 0;
        right: 35px;
        display: none;
        border-radius: 5px;
        opacity: .8; }
      .rightmenuwrap ul li:hover {
        background-color: #CF0101; }
        .rightmenuwrap ul li:hover span {
          display: block; }
      .rightmenuwrap ul li:nth-child(1) {
        background-position: -88px -175px; }
      .rightmenuwrap ul li:nth-child(2) {
        background-position: -50px -0px; }
      .rightmenuwrap ul li:nth-child(3) {
        background-position: -50px -50px; }
      .rightmenuwrap ul li:nth-child(4) {
        background-position: -50px -100px; }
      .rightmenuwrap ul li:nth-child(5) {
        background-position: -190px -150px; }
      .rightmenuwrap ul li:nth-child(6) {
        background-position: -50px -150px; }
      .rightmenuwrap ul li:nth-child(7) {
        background-position: -50px -250px; }

.navwrap {
  background: url(../img/navbg.png) repeat-x; }
  .navwrap .nav {
    height: 40px; }
    .navwrap .nav li {
      width: 82px;
      height: 38px;
      display: block;
      float: left; }
      .navwrap .nav li a {
        display: block;
        height: 38px;
        line-height: 36px;
        font-size: 14px;
        color: #c8a985;
        text-align: center; }
      .navwrap .nav li:nth-last-child(1) {
        background: url(../img/share02.png) no-repeat -354px -66px; }
      .navwrap .nav li:nth-last-child(2) {
        background: url(../img/share02.png) no-repeat -296px -66px; }
      .navwrap .nav li:nth-last-child(3) {
        background: url(../img/share02.png) no-repeat -296px -66px; }
    .navwrap .nav .nav_oversea {
      width: 100px;
      background: url(../img/overseaslogo.gif) no-repeat; }
    .navwrap .nav .nav_icon {
      width: 40px; }
    .navwrap .nav .nav_first {
      width: 130px;
      background: url(../img/lux_index.png) no-repeat -8px -215px; }
      .navwrap .nav .nav_first a {
        color: #fff; }
      .navwrap .nav .nav_first .nav_menu {
        width: 130px;
        height: 433px;
        position: relative;
        z-index: 100;
        display: none;
        border: 1px solid #333; }
        .navwrap .nav .nav_first .nav_menu ul li {
          width: 130px;
          height: 36px; }
          .navwrap .nav .nav_first .nav_menu ul li .nav_menu_list {
            width: 82px;
            height: 36px;
            line-height: 36px;
            margin: 0 auto;
            padding-left: 48px;
            text-align: left;
            position: relative;
            opacity: 0.85;
            background: #fff; }
            .navwrap .nav .nav_first .nav_menu ul li .nav_menu_list a {
              color: #C69C6D;
              text-align: left; }
              .navwrap .nav .nav_first .nav_menu ul li .nav_menu_list a i {
                position: absolute;
                right: 2px;
                top: 0;
                height: 36px;
                width: 20px;
                background: url(../img/share02.png) no-repeat -304px -30px;
                display: none; }
          .navwrap .nav .nav_first .nav_menu ul li .nav_menu_show {
            display: none;
            width: 590px;
            background: #fff;
            position: absolute;
            top: 0;
            left: 131px;
            z-index: 1000; }
            .navwrap .nav .nav_first .nav_menu ul li .nav_menu_show dl {
              height: 50px;
              margin: 10px 20px 10px 20px;
              border-bottom: #D7D7D7 1px solid; }
              .navwrap .nav .nav_first .nav_menu ul li .nav_menu_show dl dt {
                float: left;
                color: #CF0201;
                width: 105px;
                font-size: 14px;
                font-style: normal;
                padding-left: 25px; }
              .navwrap .nav .nav_first .nav_menu ul li .nav_menu_show dl dd {
                float: left;
                margin-right: 10px; }

.footerwrap {
  height: 600px;
  background: url(../img/footerbg.jpg) no-repeat center;
  border-top: 1px solid #c9c9c9; }
  .footerwrap .footer .footer_top {
    height: 116px;
    border-top: 1px solid #C9C9C9; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #666666; }

ul li {
  list-style: none; }

ol li {
  list-style: none; }

img {
  display: block;
  border: none; }

body {
  position: relative;
  font-family: "微软雅黑";
  font-size: 12px;
  width: 100%; }

i {
  display: inline-block;
  padding-right: 3px; }

.top_1210, .head, .nav, .banner, .brandship, .hotstore, .oversealife, .hotitem, .shopping, .promotion, .footer {
  width: 1210px;
  margin: 0 auto;
  position: relative; }

.active {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  top: 0;
  left: 10px; }

.rightmenuwrap ul .shopCart {
  text-align: right;
  color: red;
  padding-right: 2px;
  font-weight: bold; }
  .rightmenuwrap ul .shopCart:hover {
    color: #000000; }

.mainwrap .main {
  width: 1000px;
  margin: 0 auto; }
  .mainwrap .main .top {
    background: #008000;
    height: 457px; }
  .mainwrap .main .brands {
    height: 357px;
    margin-top: 15px; }
    .mainwrap .main .brands .tit {
      height: 49px; }
      .mainwrap .main .brands .tit .tit_left {
        width: 336px;
        float: left; }
        .mainwrap .main .brands .tit .tit_left img {
          margin-top: 13px; }
      .mainwrap .main .brands .tit .tit_right {
        width: 71px;
        float: right; }
        .mainwrap .main .brands .tit .tit_right a {
          display: block;
          width: 71px;
          height: 52px;
          line-height: 52px;
          background: url(../img/list/more.png) no-repeat;
          color: #000; }
    .mainwrap .main .brands .brands_body {
      padding: 20px 0;
      height: 240px; }
      .mainwrap .main .brands .brands_body li {
        width: 200px;
        height: 240px;
        float: left;
        position: relative;
        cursor: pointer; }
        .mainwrap .main .brands .brands_body li img {
          width: 180px;
          margin: 0 auto; }
        .mainwrap .main .brands .brands_body li span {
          position: absolute;
          left: 10px;
          top: 0;
          display: none;
          width: 180px;
          height: 240px;
          line-height: 240px;
          font-size: 24px;
          color: #fff;
          background: #000;
          margin: 0 auto;
          text-align: center;
          opacity: 0.5; }
      .mainwrap .main .brands .brands_body:hover {
        box-shadow: #a7a7a7 1px  2px 16px; }
  .mainwrap .main .goods_area {
    margin-bottom: 10px; }
    .mainwrap .main .goods_area .area_tit {
      margin-bottom: 5px;
      height: 80px; }
      .mainwrap .main .goods_area .area_tit img {
        width: 217px;
        float: left;
        margin-top: 20px; }
      .mainwrap .main .goods_area .area_tit .tit_right {
        width: 71px;
        float: right;
        margin-top: 20px; }
        .mainwrap .main .goods_area .area_tit .tit_right a {
          display: block;
          width: 71px;
          height: 52px;
          line-height: 52px;
          background: url(../img/list/more.png) no-repeat;
          color: #000; }
    .mainwrap .main .goods_area .area_body {
      height: 315px;
      box-shadow: #a7a7a7 1px  2px 16px; }
      .mainwrap .main .goods_area .area_body .area_list {
        height: 315px; }
        .mainwrap .main .goods_area .area_body .area_list li {
          float: left;
          width: 200px;
          height: 265px;
          padding: 25px 0px;
          cursor: pointer; }
          .mainwrap .main .goods_area .area_body .area_list li .area_box {
            height: 246px;
            margin-bottom: 20px; }
            .mainwrap .main .goods_area .area_body .area_list li .area_box .area_cons img {
              width: 190px;
              height: 190px;
              margin: 0 auto; }
            .mainwrap .main .goods_area .area_body .area_list li .area_box .area_text {
              width: 198px;
              margin: 0 auto;
              height: 56px; }
              .mainwrap .main .goods_area .area_body .area_list li .area_box .area_text ._title {
                height: 16px;
                line-height: 16px;
                text-align: center;
                padding-top: 8px; }
              .mainwrap .main .goods_area .area_body .area_list li .area_box .area_text ._price {
                margin-top: 8px;
                color: #df3338;
                font-size: 14px; }
                .mainwrap .main .goods_area .area_body .area_list li .area_box .area_text ._price .one {
                  width: 50px;
                  height: 19px;
                  float: left;
                  padding-left: 10px; }
                .mainwrap .main .goods_area .area_body .area_list li .area_box .area_text ._price .addToCart {
                  display: none;
                  width: 100px;
                  height: 19px;
                  float: right;
                  border-radius: 5px;
                  color: #C69C6D;
                  line-height: 19px;
                  position: relative; }
                  .mainwrap .main .goods_area .area_body .area_list li .area_box .area_text ._price .addToCart span {
                    display: block;
                    padding-left: 5px;
                    float: left;
                    width: 19px;
                    height: 19px;
                    background: url(../img/share02.png) no-repeat -95px -164px; }
            .mainwrap .main .goods_area .area_body .area_list li .area_box:hover {
              box-shadow: #a7a7a7 0px 4px 10px; }
            .mainwrap .main .goods_area .area_body .area_list li .area_box:hover .area_text {
              background: #e0e0e0; }
            .mainwrap .main .goods_area .area_body .area_list li .area_box:hover ._price .addToCart {
              display: block; }

/*# sourceMappingURL=list.css.map */
