@charset "utf-8";
@import "public.scss";
body{
     height: 100%;
    .headerwrap{
        width: 100%;
        .header{
            width: 1210px;
            height: 98px;
            margin: 0 auto; 
            line-height: 98px;
            a{
                float: left;
                display: inline-block;
                height: 98px;
                width: 244px;
                background-size: 244px 98px;
                background-repeat: no-repeat;
                background: url(../img/logo.jpg) no-repeat;
            }
            .hx{
                float: left;
                display: inline-block;
                width: 2px;
                height: 44px;
                background-color: #ccc;
                margin: 33px 18px 0;
            }
            span{
                font-size: 22px;
                color: #999;
                line-height: 108px;
            }
        }
    }
    .mainwrap{
        background-color: #262626;
        .main{
            width: 1210px;
            margin: 0 auto;
            height: 440px;
            padding: 30px 0;
            background: url(../img/login/login_background1.jpg) no-repeat;
            background-size: 100% 500px;
            position: relative;
            .login{
                position: absolute;
                width: 360px;
                height: 400px;
                background: #fff;
                right: 40px;
                padding: 20px;
                z-index: 1;
                .login_tab{
                    height: 30px;
                    li{
                        width: 180px;
                        height: 30px;
                        float: left;
                        text-align: center;
                        font-size: 20px;
                        color: #999;
                        cursor: pointer;
                        &:nth-child(2){
                            color: #000000;
                        }
                    }
                }
                .login_body{
                    height: 370px;
                    .smlogin{
                        height: 315px;
                        position: relative;
                        overflow: hidden;
                        img{
                            position: absolute;
                            left: 50%;
                            height: 50%;
                            margin-top: 35px;
                            margin-left: -85px; 
                        }
                        p{
                            font-size: 14px;
                            width: 190px;
                            margin: 250px auto 0 ;
                            margin-top: 250px;
                            text-align: center;
                            a{
                                color: #ff9900;
                                cursor: pointer;
                            }
                        }
                    }
                    .zhlogin{
                        margin-top: 25px;
                        padding:0 10px;
                        input{
                            width: 298px;
                            height: 50px;
                            background: #fff;
                            padding: 0 20px;
                            margin-bottom: 20px;
                            outline: none;
                        }
                        .login_tsk{
                            display: block;
                            width: 340px;
                            height: 14px;
                            line-height: 14px;
                            margin-bottom: 10px;
                            text-align: center;
                            font-size: 14px;
                            &.error{
                                color: red;
                            }
                            &.right{
                                color: green;
                            }
                        }
                        .login_zd{
                            display: block;
                            background: url(../img/login/is_yes_bg.png) no-repeat;
                            width: 14px;
                            height: 14px;
                        }
                        ul{
                            font-size: 14px;
                            height: 40px;
                            li{
                                height: 14px;
                                float: left;
                                line-height: 14px;
                                a{
                                    display: block;
                                    float: left;
                                    
                                }
                                &:nth-child(2){
                                    float: right;
                                    a{
                                        padding: 0 5px;
                                    }
                                }
                            }
                        }
                        .login_btn{
                            width: 338px;
                            height: 50px;
                            border: 0;
                            font-size: 18px;
                            background: #333;
                            color: #fff;
                            cursor: pointer;
                            transition: all 1s; 
                            &:hover{
                                background: #a60000;
                            }
                        }
                    }
                }
                .other_login{
                    position: absolute;
                    top: 350px;
                    .tit{
                        margin-left: -20px;
                    }
                    .ologin{ 
                        width: 200px;
                        margin: 10px auto;
                        display: flex;
                        justify-content: space-around;
                        li{
                            float: left;
                            width: 30px;
                            img{
                                width: 30px;
                                height: 30px;
                            }
                           
                        }
                    }
                }
            }
            .register{
                position: absolute;
                width: 360px;
                height: 400px;
                background: #fff;
                right: 40px;
                padding: 20px;
                .regis_tab{
                    height: 30px;
                    li{
                        height: 30px;
                        text-align: center;
                        font-size: 20px;
                        color: #666;
                    }
                }
                .regis_body{
                    margin-top: 20px;
                    padding:0 10px;
                    height: 370px;
                    input{
                        width: 298px;
                        height: 50px;
                        background: #fff;
                        padding: 0 20px;
                        margin-bottom: 10px;
                        outline: none;
                    }
                    .yzm{
                        width: 142px;
                    }
                    .hqyzm{
                        display: inline-block;
                        float: right;
                        height: 50px;
                        width: 130px;
                        background: #f2f2f2;
                        line-height: 50px;
                        text-align: center;
                        font-size: 14px;
                        cursor: pointer;
                    }
                    .regis_tsk{
                        display: block;
                        width: 340px;
                        height: 14px;
                        line-height: 14px;
                        margin-bottom: 10px;
                        text-align: center;
                        font-size: 14px;
                        &.error{
                            color: red;
                        }
                        &.right{
                            color: green;
                        }
                    }
                    .res_btn{
                        width: 338px;
                        height: 50px;
                        border: 0;
                        font-size: 18px;
                        background: #333;
                        color: #fff;
                        cursor: pointer;
                        transition: all 1s; 
                            &:hover{
                                background: #a60000;
                            }
                    }
                    ul{
                        height: 14px;
                        padding-left: 35px;
                        .res_zd{
                            display: block;
                            background: url(../img/login/is_yes.png) no-repeat;
                            width: 14px;
                            height: 14px;
                        }
                        li{
                            float: left;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
    
   
}
